@charset "utf-8";

@import 'basics/variables';
@import 'mixins/setRem';


.wrapper {
    height: 100%;
    min-height: 100%;

}

.top-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: rem(20);

    .symbol {
        font-size: rem(18);
        font-weight: 400;
    }
}